* {
    margin: 0;
    padding: 0;
}
#ResumeFont{
    font-family: cambria, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#background-color{
    background-color: rgb(203, 253, 234);
}
#container {
    width: 100vw;
    /* height: 100vh; */
    background-color: rgba(193, 228, 250, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#header
{
    width: 100%;
    background-color: #9bc6f191;
}
.box {
    width: 250px;
    height: 250px;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* object-fit: cover; */
}



.box:hover {
    background-color: rgba(132, 184, 253, 0.356);
    transform: scale(1.0);
    border: round;
    
}
