* {
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(132, 187, 132);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 350px;
    height: 350px;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}


.box:hover {
    background-color: rgba(77, 141, 224, 0.247);
    border: rgb(132, 187, 132) ridge;

}
