*{
    margin: 0;
    padding: 0;
}

#background-color{
    background-color: rgb(189, 244, 170);
}
header {
    padding: 5px;
    background-color: rgb(235, 220, 255);
    width: 90%;
    font-family: 'Alike Angular', serif;
    margin: 30px; 
    border: 20px solid rgba(174, 199, 247, 0.61);  
    border-radius: 20px;
}

h2{
    font-family: 'Ibarra Real Nova', serif;
}

#mushroom{
    position: absolute;
    top: 115px;
    left: 900px;
    width: 10%;
    height: 20%;
    padding: 3%;
}

#container {
    width: 100%;
    height: 900px;
    background-color: rgb(189, 244, 170);
} 

#main-image {
    width: 100%;
    /* height: 100%; */
    opacity: 80%;
    position: absolute; 
    size: cover;
    width: 100%;
}

.mix {
    border: inset;
}

#iframe1{
    margin: 100px;
    width: 30%;
    position: fixed;
    left: 650px;
    justify-content: center;
}

.box {
    position: absolute;
    top: 730px;
    left: 730px;
    width: 165px;
    height: 165px;
    background-color: rgba(239, 241, 245, 0);
    opacity: .7;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

#scientific-info {
    color: rgba(33, 12, 49, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, Impact, 'Arial Narrow Bold', sans-serif
}

#scientific-illustration:hover #scientific-info {
    color: rgb(0, 0, 0, 1);
    top: -40%;
    left: -160%;
    height: 15em;
    width: 20em;
    font-family: 'Ibarra Real Nova', serif;
}


#image2{
    top: -40%;
    left: -160%;
    height: 15em;
    width: 20em;
    position: absolute;
    justify-content: center;
    border-radius: 30px;
}


#image2:hover{
    background-color: rgba(100, 148, 237, 0.486);
    border: rgba(47, 79, 79, 0.363);
    position: absolute;
    justify-content: center;
    /* width: 350px;
    border-radius: 30px; */
}

.anim{
    top: 1300px;
    left: 300px;
    width: 100px;
    height: 80px;
    background-color: rgba(43, 93, 158, 0.37);
    margin: 21px;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
#Animation {
    color: rgba(33, 12, 49, 0);
    font-family: 'Ibarra Real Nova', serif;
    top: 10%;
    width: 100px;
    height: 80px;
}
.anim:hover #Animation{
    top: -300%;
    height: 10em;
    width: 10em;
    justify-content: center;
    justify-content: center;
    color: rgb(0, 100, 92);
}

#image4{
    top: 400px;
    left: 500px;
    height: 10em;
    width: 10em;
    position: absolute;
    justify-content: center;
}

#image4:hover{
    background-color: rgba(100, 148, 237, 0.486);
    border: rgba(47, 79, 79, 0.363);
    width: 200px;
}

#image3{
    top: 80%;
    height: 15em;
    width: 20em;
    position: absolute;
    justify-content: center;
}
#image3:hover{
    background-color: rgba(100, 148, 237, 0.486);
    border: rgba(47, 79, 79, 0.363);
    width: 350px;
    border-radius: 30px;
}

.shop{
    top: 3px;
    width: 100px;
    height: 90px;
    background-color: rgba(43, 93, 158, 0.37);

    background-size: cover;
    background-repeat: no-repeat;
    /* justify-content: center; */
    align-items: center;
}

#shoptext{
    color: rgba(33, 12, 49, 0);
    font-family: 'Ibarra Real Nova', serif;
}    

.shop:hover #shoptext{
    color: rgb(59, 0, 136);
    top: 75%;
    height: 10em;
    width: 10em;
    position: absolute;
    justify-content: center;
}

.WebComics{
    top: 315px;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(43, 93, 158, 0.37);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

#webcomictext{
    color: rgba(33, 12, 49, 0);
    font-family: 'Ibarra Real Nova', serif;
}    

.WebComics:hover #webcomictext{
    color: rgb(59, 0, 136);
    top: 75%;
    height: 10em;
    width: 10em;
    /* position: absolute; */
    justify-content: center;
}

#sketch-parent {

    position: absolute;
    right: 0px;
    
}